body {
  background-color: #fafbff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  margin: 0;
  cursor: default; }

aside {
  width: 306px;
  box-sizing: border-box;
  padding-left: 28px;
  background-color: #fff;
  height: 1198px;
  color: #9197b3; }
  aside .logo {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    margin-bottom: 53px;
    margin-top: 36px; }
    aside .logo img {
      margin-right: 8px; }
    aside .logo span {
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0.01em;
      color: #000000;
      margin-right: 4px; }
  aside ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; }
  aside li {
    list-style: none;
    margin: 18px 0;
    cursor: pointer; }
    aside li i {
      box-sizing: border-box;
      background-color: none;
      padding: 11px;
      padding-right: 8px;
      width: 250px;
      display: flex;
      align-items: center;
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em; }
    aside li span {
      margin-left: 14px;
      flex-basis: 100%; }
    aside li .hide {
      display: none; }
    aside li .active {
      background-color: #5932ea;
      color: #fff;
      border-radius: 8px; }
    aside li .icon {
      width: 24px;
      height: 24px; }
    aside li .arrow {
      width: 16px;
      height: 16px; }

main {
  box-sizing: border-box;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  width: 968px;
  height: 812px;
  margin: 0 auto;
  margin-top: 134px;
  padding: 30px 40px 30px 38px; }
  main .greeting {
    position: absolute;
    height: 36px;
    left: -12px;
    top: -93px;
    font-size: 24px;
    line-height: 36px;
    color: #000000; }
  main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em; }
    main .header h1 {
      font-size: 22px;
      line-height: 33px;
      margin-block-start: 0px;
      margin-block-end: 0px; }
    main .header .title {
      display: flex;
      flex-direction: column; }
    main .header span {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #16c098;
      margin-top: 7px; }
    main .header .search {
      margin-top: 2.5px;
      display: flex;
      align-items: center;
      margin-right: 13px; }
    main .header img {
      transform: translateX(32px); }
    main .header input {
      box-sizing: border-box;
      width: 216px;
      background: #f9fbff;
      border-radius: 10px;
      height: 38px;
      outline: none;
      border: none;
      padding: 10px 10px;
      padding-left: 40px; }
      main .header input:focus, main .header input:hover, main .header input:active {
        outline: none; }
      main .header input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #b5b7c0; }
  main ul {
    list-style-type: none;
    margin-block-start: 40px;
    margin-block-end: 0em;
    padding-inline-start: 0px; }
  main .table {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #292d32;
    text-align: start; }
    main .table .data {
      display: flex;
      align-items: center; }
    main .table .title {
      display: flex;
      color: #b5b7c0;
      position: relative;
      margin-bottom: 14px; }
      main .table .title .country {
        flex-basis: 152px; }
      main .table .title .line {
        border-bottom: 1px solid #eeeeee;
        transform: translateX(-38px);
        width: 968px;
        position: absolute;
        bottom: -14px; }
    main .table .mobile {
      display: none; }
    main .table .customer-name {
      flex-basis: 172px; }
    main .table .company {
      flex-basis: 131px; }
    main .table .phone-number {
      flex-basis: 156px; }
    main .table .email {
      flex-basis: 207px; }
    main .table .country {
      flex-basis: 140px; }
    main .table .info {
      display: flex;
      padding: 19px 0;
      border-bottom: 1px solid #eeeeee; }
      main .table .info .active {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        width: 80px;
        height: 29px;
        gap: 10px;
        background: rgba(22, 192, 152, 0.38);
        border: 1px solid #00b087;
        border-radius: 4px;
        color: #008767; }
      main .table .info .inactive {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        height: 29px;
        width: 80px;
        gap: 10px;
        background: #ffc5c5;
        border: 1px solid #df0404;
        border-radius: 4px;
        color: #df0404; }
  main .footer {
    display: flex;
    position: absolute;
    bottom: 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 890px; }
    main .footer .showing {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #b5b7c0; }
    main .footer .pagination {
      font-size: 12px;
      line-height: 100%;
      color: #404b52;
      display: flex;
      gap: 12px; }
      main .footer .pagination .page {
        box-sizing: border-box;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 24px;
        height: 24px;
        padding: 6px;
        gap: 10px;
        background: #f5f5f5;
        border: 1px solid #eeeeee;
        border-radius: 4px; }
      main .footer .pagination .active {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 24px;
        height: 24px;
        padding: 6px auto;
        gap: 10px;
        background: #5932ea;
        border: 1px solid #5932ea;
        color: #fff;
        border-radius: 4px; }
      main .footer .pagination .three-dots {
        display: flex;
        align-items: center; }

@media (min-width: 1024.1px) and (max-width: 1356px) {
  aside {
    padding-left: 14px;
    width: 74px;
    z-index: 3;
    position: absolute; }
    aside:hover {
      width: 306px;
      z-index: 4;
      padding-left: 28px;
      background-color: #fff;
      margin-bottom: 48px;
      border-radius: 8px;
      box-shadow: 0px 0px 20px #e2ecf9; }
      aside:hover .active {
        width: 250px; }
      aside:hover li i {
        width: 250px; }
      aside:hover .logo img {
        margin-right: 8px; }
      aside:hover .logo span {
        display: contents; }
      aside:hover span {
        display: block;
        margin-left: 14px; }
      aside:hover .arrow {
        display: block; }
      aside:hover .arrow.hide {
        display: none; }
    aside .logo img {
      margin-right: 0px; }
    aside li i {
      width: 60px; }
    aside .active {
      width: 46px;
      padding: 11px; }
    aside span {
      display: none; }
    aside .arrow {
      display: none; }

  main {
    margin-left: calc(((100% - 16px - 74px - (968px + 40 * ((100vw - 1356px) / (1356 - 1024)))) / 2) + 74px + 8px);
    width: calc(968px + 40 * ((100vw - 1356px) / (1356 - 1024)));
    padding-left: calc(38px - (18 - 38) * ((100vw - 1356px) / (1356 - 1024)));
    padding-right: calc(40px - (20 - 40) * ((100vw - 1356px) / (1356 - 1024))); }
    main .greeting {
      left: calc(-12px - 16 * ((100vw - 1356px) / (1356 - 1024))); }
    main .table .title .line {
      width: calc(968px + 40 * ((100vw - 1356px) / (1356 - 1024)));
      transform: translateX(calc(-38px - 20 * ((100vw - 1356px) / (1356 - 1024)))); } }
@media (min-width: 768.1px) and (max-width: 1024px) {
  aside {
    width: 30px;
    position: absolute;
    padding-left: 0px;
    height: 100vh;
    z-index: 4;
    background: #fff0; }
    aside .logo,
    aside nav {
      display: none; }
    aside:hover {
      position: fixed;
      z-index: 4;
      padding-left: 28px;
      box-shadow: 0px 0px 20px 10px rgba(226, 236, 249, 0.7);
      width: 306px;
      background-color: #fff; }
      aside:hover .logo {
        display: flex; }
        aside:hover .logo img {
          margin-right: 8px; }
        aside:hover .logo span {
          display: contents; }
      aside:hover nav {
        display: block; }
        aside:hover nav ul li {
          margin: 9px 0; }
          aside:hover nav ul li .title .status {
            margin-right: 20px; }

  main {
    padding-left: calc(38px - (18 - 38) * ((100vw - 1024px) / (1024 - 768)));
    padding-right: calc(40px - (20 - 40) * ((100vw - 1024px) / (1024 - 768))); }
    main .greeting {
      left: calc(-4px - 20 * ((100vw - 1024px) / (1024 - 768))); }
    main .table {
      font-size: calc(14px + 2 * ((100vw - 1024px) / (1024 - 768))); }
      main .table .title .line {
        width: calc(100% + 78px + 40 * ((100vw - 1024px) / (1024 - 768)));
        transform: translateX(calc(-38px - 20 * ((100vw - 1024px) / (1024 - 768)))); }
    main .footer {
      width: calc(100% - 78px - 40 * ((100vw - 1024px) / (1024 - 768))); } }
@media (max-width: 768px) {
  aside {
    display: none;
    height: 100vh;
    position: fixed;
    padding: 0;
    overflow: scroll; }
    aside .logo {
      font-size: calc(22px + (22 - 14) * ((100vw - 768px) / (768 - 320)));
      line-height: calc(33px + (33 - 21) * ((100vw - 768px) / (768 - 320)));
      justify-content: center;
      margin-bottom: calc(52px + (53 - 20) * ((100vh - 1024px) / (1024 - 320))); }
      aside .logo img {
        width: calc(56px + (56 - 37) * ((100vw - 768px) / (768 - 320))); }
      aside .logo span {
        font-style: normal;
        font-weight: 600;
        font-size: calc(40px + (40 - 26) * ((100vw - 768px) / (768 - 320)));
        line-height: calc(48px + (48 - 39) * ((100vw - 768px) / (768 - 320)));
        letter-spacing: 0.01em;
        color: #000000;
        margin-right: 4px; }
    aside ul {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column; }
      aside ul li {
        margin: calc(12px + 12 * ((100vh - 1024px) / (1024 - 320))) 0; }
        aside ul li i {
          width: 80vw;
          padding: calc(12px + (12 - 4) * ((100vh - 1024px) / (1024 - 320)));
          font-size: calc(34px + (34 - 22) * ((100vh - 1024px) / (1024 - 320)));
          line-height: calc(48px + (48 - 33) * ((100vh - 1024px) / (1024 - 320))); }
        aside ul li span {
          margin-left: calc(40px + (40 - 14) * ((100vw - 768px) / (768 - 320))); }
        aside ul li .active {
          background-color: #5932ea;
          color: #fff;
          border-radius: 8px; }
        aside ul li .hover {
          width: calc(40px + (40 - 24) * ((100vh - 1024px) / (1024 - 320)));
          height: calc(40px + (40 - 24) * ((100vh - 1024px) / (1024 - 320))); }
        aside ul li .icon {
          width: calc(40px + (40 - 24) * ((100vh - 1024px) / (1024 - 320)));
          height: calc(40px + (40 - 24) * ((100vh - 1024px) / (1024 - 320))); }
        aside ul li .arrow {
          width: calc(36px + (36 - 16) * ((100vh - 1024px) / (1024 - 320)));
          height: calc(36px + (36 - 16) * ((100vh - 1024px) / (1024 - 320))); }

  main {
    width: 100vw;
    height: auto;
    margin-top: 96px;
    margin-bottom: 36px;
    padding: calc(30px + (30 - 12) * ((100vw - 768px) / (768 - 320))); }
    main .greeting {
      width: auto;
      height: 36px;
      top: -66px;
      left: calc(20px + 10 * ((100vw - 768px) / (768 - 320)));
      font-size: calc(36px + (36 - 24) * ((100vw - 768px) / (768 - 320)));
      line-height: calc(48px + (48 - 36) * ((100vw - 768px) / (768 - 320))); }
    main .header {
      flex-direction: column; }
      main .header .title {
        align-items: center; }
        main .header .title h1 {
          font-size: calc(34px + (34 - 22) * ((100vw - 768px) / (768 - 320)));
          line-height: calc(46px + (46 - 33) * ((100vw - 768px) / (768 - 320))); }
      main .header span {
        font-size: calc(24px + (24 - 14) * ((100vw - 768px) / (768 - 320)));
        line-height: calc(36px + (36 - 21) * ((100vw - 768px) / (768 - 320))); }
      main .header .search {
        margin-top: 20px; }
        main .header .search input {
          width: 80vw;
          height: auto;
          font-size: calc(24px + (24 - 14) * ((100vw - 768px) / (768 - 320)));
          line-height: calc(36px + (36 - 21) * ((100vw - 768px) / (768 - 320))); }
          main .header .search input::placeholder {
            font-size: calc(22px + (22 - 14) * ((100vw - 768px) / (768 - 320)));
            line-height: calc( 33px + (33 - 18) * ((100vw - 768px) / (768 - 320)) ); }
    main .table {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: calc(24px + (24 - 14) * ((100vw - 768px) / (768 - 320)));
      line-height: calc(28px + (34 - 21) * ((100vw - 768px) / (768 - 320))); }
      main .table .title {
        display: flex;
        margin: 0;
        padding: calc(30px + (30 - 15) * ((100vw - 768px) / (768 - 320))) 0;
        flex-direction: column;
        border-bottom: 2px solid #eeeeee; }
        main .table .title .country {
          flex-basis: calc(52px + (52 - 30) * ((100vw - 768px) / (768 - 320))); }
        main .table .title * {
          display: flex;
          align-items: center;
          flex-basis: calc(52px + (52 - 30) * ((100vw - 768px) / (768 - 320))); }
      main .table .info {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #eeeeee;
        padding: calc(30px + (30 - 15) * ((100vw - 768px) / (768 - 320))) 0; }
        main .table .info .active {
          width: auto;
          height: auto; }
        main .table .info .inactive {
          width: auto;
          height: auto; }
        main .table .info * {
          flex-basis: calc(52px + (52 - 30) * ((100vw - 768px) / (768 - 320))); }
      main .table .line {
        display: none; }
    main .footer {
      position: initial;
      margin: 20px auto;
      flex-direction: column;
      gap: 16px;
      width: 100%; }
      main .footer .showing {
        font-size: calc(24px + (24 - 14) * ((100vw - 768px) / (768 - 320)));
        line-height: calc(36px + (36 - 21) * ((100vw - 768px) / (768 - 320))); }
      main .footer .pagination {
        font-size: calc(24px + (24 - 12) * ((100vw - 768px) / (768 - 320))); }
        main .footer .pagination .page {
          min-width: calc(40px + (40 - 24) * ((100vw - 768px) / (768 - 320)));
          height: calc(40px + (40 - 24) * ((100vw - 768px) / (768 - 320)));
          border-radius: calc(8px + (8 - 4) * ((100vw - 768px) / (768 - 320))); } }

/*# sourceMappingURL=style.css.map */
